[Unit]
description=Launches SSL Remote Control
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=%h/.local/bin/ssl-remote-control -team YELLOW
Restart=always

[Install]
WantedBy=default.target
