[Unit]
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
EnvironmentFile=~/.config/ssl-remote-control/remote-control-config.txt
ExecStart=%h/.local/bin/ssl-remote-control -team $team
Restart=always
RestartSec=5
StartLimitInterval=0

[Install]
WantedBy=default.target
